#galeria .col-lg-4{
    margin: 0 !important;
    padding: 15px;; 
}

#galeria img{
    width: 100%;
    height: 270px;
    
}

/* #galeria img:hover{
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px black;
    cursor: pointer;
} */